.Footer {
    height: 19rem;
    background-color: rgba(0,0,0,0.87);
}

.column {  
    flex-direction: column;
    padding-top: 3rem;
}


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.element {
    padding-bottom: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #f5c518;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    
}

.gmail{
    font-size: 18px;
    text-decoration: underline;
    color: #f5c518;
    font-family: 'Roboto', sans-serif;
}

.nav{
    width: 45px;
    
}

.social_row{
    display: flex; 
    justify-content: center;
    flex-direction: row;
    gap: 50px;

}

.right {
   display: flex;
   justify-content:  right;
   font-size: 11px;
   word-spacing: 1px;
   font-family: 'Roboto', sans-serif;
   color: #f5c518;
   padding-right: 1rem;
   text-decoration: underline;
}

